
<section class=" bg-white dark:bg-gray-900">

  <div class="py-0 px-0 mx-auto  sm:py-0 lg:px-0 ">
   <div class="background-container">
    <div id="default-carousel" class="relative w-full pt-[60px]" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden md:h-[380px]">
          <!-- Item 1 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="../../../../assets/fondo002.webp" class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-cover" alt="...">
          </div>
          <!-- Item 2 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="../../../../assets/fondo001.webp" class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-cover" alt="...">
          </div>
          <!-- Item 3 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="../../../../assets/fondo002.webp" class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2  object-cover" alt="...">
          </div>
          <!-- Item 4 -->
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img src="../../../../assets/fondo001.webp" class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-cover" alt="...">
          </div>
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="../../../../assets/fondo002.webp" class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-cover" alt="...">
          </div>


      </div>
      <!-- Slider indicators -->
      <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
          <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
      </div>
      <!-- Slider controls -->

    </div>
  </div>

    <div class="background-container" >

    <div class="overflow-hidden relative w-full py-2">
      <div class="flex whitespace-nowrap animate-infinite-scroll">
        <!-- Tu contenido de SVG aquí -->

        <img src="../../../../assets/fondoP001.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP002.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP003.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP004.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP005.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP006.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP007.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP008.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP001.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP002.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP003.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP004.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP005.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP006.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP007.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP008.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

       <img src="../../../../assets/fondoP001.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP002.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP003.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP004.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP005.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP006.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP007.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">

        <img src="../../../../assets/fondoP008.webp" class="w-40 h-40 text-gray-800 mx-4 rounded-[10px]" alt="...">
        <!-- Agrega más SVGs aquí si lo deseas -->
      </div>
    </div>


      <div class="max-w-screen-xl px-4 mx-auto lg:px-12 w-full py-8 ">
        <!-- Start coding here -->
        <div class="relative bg-white shadow-md dark:bg-gray-800 sm:rounded-lg ">
          <div class="flex flex-col items-center justify-between p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">
            <div class="w-full md:w-1/2">
              <form class="flex items-center">
                <label for="simple-search" class="sr-only">Search</label>
                <div class="relative w-full">
                  <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                    </svg>
                  </div>
                  <input type="text" id="simple-search" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Buscar Eventos" required="">
                </div>
              </form>
            </div>
            <div class="flex flex-col items-stretch justify-end flex-shrink-0 w-full space-y-2 md:w-auto md:flex-row md:space-y-0 md:items-center md:space-x-3">
              <button (click)="scrollToEventosCentrado()" type="button" class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-[#0d0130] hover:bg-[#0d0130] focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">

                <svg class="h-3.5 w-3.5 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                  <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                </svg>

                Ver Todos Los Eventos
              </button>
              <div class="flex items-center w-full space-x-3 md:w-auto">
                <button id="actionsDropdownButton" data-dropdown-toggle="actionsDropdown" class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg md:w-auto focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button">
                  <svg class="-ml-1 mr-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                  </svg>
                  Acciones
                </button>
                <div id="actionsDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600">

                  <div class="py-1">
                    <a  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Saber más.</a>
                  </div>
                </div>
                <button id="filterDropdownButton" data-dropdown-toggle="filterDropdown" class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg md:w-auto focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-4 mr-2 text-gray-400" viewbox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
                  </svg>
                  Filtrar
                  <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                  </svg>
                </button>
                <!-- Dropdown menu -->
                <div id="filterDropdown" class="z-10 hidden w-48 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
                  <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">
                    Category
                  </h6>
                  <ul class="space-y-2 text-sm" aria-labelledby="dropdownDefault">
                    <li class="flex items-center">
                      <input id="fitbit" type="checkbox" value=""
                        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
                      <label for="fitbit" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                        Noche de Cumpleaños
                      </label>
                    </li>
                    <li class="flex items-center">
                      <input id="dell" type="checkbox" value=""
                        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
                      <label for="dell" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                        Eventos QR
                      </label>
                    </li>
                    <li class="flex items-center">
                      <input id="asus" type="checkbox" value="" checked
                        class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" />
                      <label for="asus" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">
                        ver Todo
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="px-4  xl:px-48" id=eventos>
      <div  class="pb-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 ">
        <div *ngFor="let e of eventos" class="space-y-8 bg-white p-4 rounded-[20px] shadow relative ">
            <!-- Imagen -->
            <div class="absolute top-0 right-0 w-full h-[300px] ">
                <img class="w-full h-full object-cover rounded-tl-[20px] rounded-tr-[20px]" *ngIf="e.imagen" [src]="'data:image/png;base64,' + e.imagen">

            </div>
            <!-- Información -->
            <div class="pt-64  ">
                <div class="flex items-center text-sm text-gray-500 mt-2">
                    <svg class="w-4 h-4 mr-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.8 13.938h-.011a7 7 0 1 0-11.464.144h-.016l.14.171c.1.127.2.251.3.371L12 21l5.13-6.248c.194-.209.374-.429.54-.659l.13-.155Z"/>
                    </svg>
                    Subida de Huacachina | EvaClub
                </div>
                <h2 class="mt-2 text-lg font-semibold text-gray-800">{{ e.nombre }}</h2>
                <!-- Fecha y hora -->
                <div class="flex items-start mt-4 text-gray-600">
                  <div class="flex items-start mt-4 text-gray-600">
                    <!-- Primer párrafo grande -->
                    <p class="padding-p font-bold text-4xl  h-10 flex items-center">
                        {{ e.fechaEvento | date:'d' }}
                    </p>

                    <!-- Contenedor para el segundo y tercer párrafo -->
                    <div class="flex flex-col justify-between h-1 mt-[11px]">
                        <!-- Segundo párrafo (mitad de la altura del primero) -->
                        <p class="font-bold text-[12px] h-1/2 flex items-center">
                            {{ e.fechaEvento | date:'MMM' }}
                        </p>
                        <!-- Tercer párrafo (mitad de la altura del primero) -->
                        <p class="font-bold text-[12px] h-1/2 flex items-center">
                            {{ e.fechaEvento | date:'y' }}
                        </p>
                    </div>
                </div>
                    <div class="border-l border-gray-300 h-7  mt-[22px] mr-1 ml-3"></div>
                    <div class="flex items-start mt-4 text-gray-600 ">
                      <!-- Primer párrafo grande -->
                      <p class="padding-p font-bold text-4xl  h-10 flex items-center">
                          18
                      </p>

                      <!-- Contenedor para el segundo y tercer párrafo -->
                      <div class="flex flex-col justify-between h-1 mt-[11px]">
                          <!-- Segundo párrafo (mitad de la altura del primero) -->
                          <p class="font-bold text-[12px] h-1/2 flex items-center">
                              00
                          </p>
                          <!-- Tercer párrafo (mitad de la altura del primero) -->
                          <p class="font-bold text-[12px] h-1/2 flex items-center">
                              hrs
                          </p>
                      </div>
                  </div>

                  <mat-card-actions style="padding-top: 14px;">
                    <button *ngIf="e.estadoRegistro !== 'CONFIRMADO'" mat-button color="primary" (click)="abrirModalQr(e.eventoId)" >
                      <mat-icon class="text-[#22084a]">qr_code</mat-icon>
                    </button>
                    <button *ngIf="e.estadoRegistro === 'CONFIRMADO'" mat-button color="primary" (click)="abrirModalVerQr(e.eventoId)">
                      <mat-icon class="text-[#22084a]">visibility</mat-icon>
                    </button>
                  </mat-card-actions>

                </div>


            </div>

        </div>
    </div>

  </div>

  </div>

</div>
</section>





