<section class="bg-gray-50 dark:bg-gray-900 min-h-screen">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto w-full h-screen lg:py-0 background-container">
    <div class="w-full bg-white rounded-[20px] shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <a href="#" class="flex items-center justify-center text-[#0c0033] mb-6 text-[18px] xl:text-[24px] font-semibold text-gray-900 dark:text-white py-1">
          <img class="w-8 h-8 mr-2" src="../../../assets/Login.webp" alt="logo">
          Restablecer Contraseña
        </a>
        <form (submit)="onChangePassword()" class="space-y-4 md:space-y-6">
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-500 dark:text-white">Nueva Contraseña</label>
            <div class="relative">
              <input
              [(ngModel)]="newPassword"
                [type]="isPasswordVisible ? 'text' : 'password'"
                name="newPassword" id="newPassword" placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-[#0c0033] focus:border-[#0c0033] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required
              />
              <button
                type="button"
                (click)="isPasswordVisible = !isPasswordVisible"
                class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500"
                aria-label="Toggle password visibility"
              >
              <svg
              *ngIf="isPasswordVisible"
              class="w-6 h-6 mt-1 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24" height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.933 13.909A4.357 4.357 0 0 1 3 12c0-1 4-6 9-6m7.6 3.8A5.068 5.068 0 0 1 21 12c0 1-3 6-9 6-.314 0-.62-.014-.918-.04M5 19 19 5m-4 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            </svg>
            <svg
              *ngIf="!isPasswordVisible"
              class="w-6 h-6 mt-1 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24" height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
              <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            </svg>
              </button>
            </div>
          </div>
          <div>
            <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-500 dark:text-white">Repetir Contraseña</label>
            <div class="relative">
              <input
              [(ngModel)]="confirmPassword"
                [type]="isPasswordVisible2 ? 'text' : 'password'"
                name="confirmPassword" id="confirmPassword" placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-[#0c0033] focus:border-[#0c0033] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required
              />
              <button
                type="button"
                (click)="isPasswordVisible2 = !isPasswordVisible2"
                class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-500"
                aria-label="Toggle password visibility"
              >
              <svg
              *ngIf="isPasswordVisible2"
              class="w-6 h-6 mt-1 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24" height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.933 13.909A4.357 4.357 0 0 1 3 12c0-1 4-6 9-6m7.6 3.8A5.068 5.068 0 0 1 21 12c0 1-3 6-9 6-.314 0-.62-.014-.918-.04M5 19 19 5m-4 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            </svg>
            <svg
              *ngIf="!isPasswordVisible2"
              class="w-6 h-6 mt-1 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24" height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
              <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            </svg>
              </button>
            </div>
          </div>

          <div class="mt-2 w-full bg-gray-200 rounded-full">
            <div
              [ngStyle]="{'width': passwordStrengthWidth}"
              class="h-2 rounded-full"
              [ngClass]="{
                'bg-red-500': passwordStrength === 'Débil',
                'bg-yellow-500': passwordStrength === 'Moderada',
                'bg-green-500': passwordStrength === 'Fuerte'
              }"
            ></div>
          </div>

          <button type="submit" class="w-full text-white bg-[#0c0033] hover:bg-[#080022] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Cambiar Contraseña
          </button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Recuerda que si necesitas ayuda técnica con tu cuenta. <a class="font-medium text-gray-500 hover:underline dark:text-primary-500">Puedes contáctarnos al +51 970 932 182.</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
